#canvas {
	height: 400px;
	width: 300px;
	background-color: ivory;
	margin: 0 auto;
	box-shadow: 20px 15px 80px coral;
}

#first-row {
	height: 50%;
	width: 70%;
	background-color: yellow;
	float: left;
}

#second-row {
	height: 10%;
	width: 30%;
	background-color: brown;
	float: left;
}

#third-row {
	height: 10%;
	width: 40%;
	background-color: lightgreen;
	float: left;
}
