#canvas {
	height: 400px;
	width: 300px;
	background-color: ivory;
	margin: 0 auto;
    box-shadow: 20px 15px 80px coral;
}

#first-row {
	height: 50%;
	width: 70%;
	background-color: yellow;
	float: left;
}

#first-row-divider {
	height: 60%;
	width: 10%;
	float: left;
}

#second-row {
	height: 10%;
	width: 100%;
	background-color: azure;
	float: left;
}

#second-row-divider {
	height: 18%;
	width: 2%;
	float: right;
	clear: left;
}


#third-row {
	height: 10%;
	width: 38%;
	background-color: lightgreen;
	float: left;
}





#first-column{
	height: 30%;
	width: 28%;
	background-color: lightblue;
	float: left;
}



#first-column-divider {
	height: 30%;
	width: 1%;
	float: left;
}

#second-column{
	height: 10%;
	width: 30%;
	background-color: blue;
	float: right;
}


#second-column-divider {
	height: 15%;
	width: 1%;
	float: left;
}



#third-column{
	height: 15%;
	width: 38%;
	background-color: fuchsia; 
	float: left;
}


#third-column-divider {
	height: 15%;
	width: 1%;
	float: left;
}

.black {
	background-color: black;
}

.left {
	float: left;
}

.right {
	float: right;
}